html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
img {
	border-style: none;
}
body {
	background-color: #061630;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}
h1 {
	color: #0C2A5B;
	font-size: 28px;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: -1px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
	color: #113D84;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}
a, a:link {
	color: #2799FA;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #2799FA;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #F90;
	text-decoration: underline;
}
a:focus {
	color: #2799FA;
}
a:active {
	color: #2799FA;
}
#wrapperbackground {
	background-color: #0B2653;
	background-image: url(images/body-bg.png);
	background-repeat: repeat-x;
	background-position: top;
		
}
#outerWrapper {
	text-align: left;
	width: 880px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	height: 140px;
	text-align: left;
	padding-left: 10px;
}
#header #logo {
	color: #FFF;
	float: left;
	width: 350px;
	padding-top: 55px;
}
#header #links {
	color: #FFA600;
	font-size: 12px;
	font-weight: normal;
	float: right;
	width: 350px;
	text-align: right;
	padding-right: 10px;
	height: 35px;
	line-height: 35px;
}
#links a, #links a:active, #links a:visited {
	color: #FFA600;
	font-weight: normal;
}
#header #links a:hover {
	color: #FFF;
	text-decoration: none;
}
#nav {
	clear: both;
	position: absolute;
	top: 107px;
	margin: 0px 0 -15px 0px;
	padding: 6px 0 0 10px;
	width:870px;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	float: left;
	margin-right: 2px;
}

* html #nav li a { /* Filter for IE6 to prevent li stacking */
	float: left;
	text-decoration: none;
}

* html #nav li a span { /* Filter for IE6 to prevent li stacking */
	float: left;
	margin-left: 4px;
	text-decoration: none;
}

#nav li a {
	display: block;
	height: 27px;
	background: url(images/nav-left.png) left top no-repeat;
	font-size: 10pt;
	font-family: Arial, Helvetica;
	text-decoration: none;
  }  
  
#nav li a span {
	display: block;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 14px;
	line-height: 27px;
	font-weight: bold;
	color: #FFF;
	background: url(images/nav-right.png) right top no-repeat;
	text-decoration: none;
}

#nav li a:hover {
	background-position: left -27px;
	text-decoration: none;
	cursor: pointer; /* For IE6 */
}

#nav li a:hover span {
	background-position: right -27px;
	color: #061630;
}

#nav li.current_page a {
	background-position: left -27px;
}

#nav li.current_page a span {
	background-position: right -27px;
	color: #FFF;
}

#outerWrapper #feature {
	height: 225px;
	width: 880px;
	margin-left: 0px;
	margin-bottom: 5px;
	background-image: url(images/feature.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#outerWrapper #subcontentWrapper {
	padding-right: 15px;
	padding-left: 15px;
	clear: both;
	padding-top: 20px;
	background-color: #FFF;
	padding-bottom: 40px;
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #F90;
	border-right-color: #F90;
	border-left-color: #F90;
	background-image: url(images/footer-fade.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 100%;
}
#outerWrapper #subcontentWrapper #rightColumn {
	float: right;
	width: 220px;
	background-color: #DBE7FB;
	border: 1px solid #DCDFE4;
	margin-bottom: 15px;
}
#outerWrapper #homecontentWrapper #content {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 25px;
	color: #FFF;
	font-size: 12px;
	line-height: 18px;
	float: left;
	width: 880px;
}
#outerWrapper #subcontentWrapper #content {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 15px;
	color: #333;
	font-size: 12px;
	line-height: 18px;
	float: left;
	width: 600px;
}
#content ul li {
	margin-bottom: 5px;
}
.hometitle {
	color:#89C5FA;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 40px;
}
.homefeatureboxes {
	font-size: 11px;
	padding-top: 10px;
	line-height: 14px;
	padding-bottom: 20px;
	color: #FFF;
}
.homefeatureboxes p {
	padding-right:10px;	
	margin: 10px 0 5px 0;
}

.homefeatureboxes img {
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	display: block;
	padding-left: 10px;
}
.homeleft-box {
	float: left;
	width: 278px;
	margin-right: 17px;
	background-color: #0F3674;
	border: 1px solid #18ABF8;
}
.homemiddle-box {
	float: left;
	width: 278px;
	margin-right: 17px;
	background-color: #0F3674;
	border: 1px solid #18ABF8;
}
.homeright-box {
	float: left;
	width: 278px;
	background-color: #0F3674;
	border: 1px solid #18ABF8;
}
.homefeaturetitle {
	font-size: 23px;
	font-weight: normal;
	color: #F90;
	line-height: 25px;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #0B2653;
	padding-left: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
}
#rightColumnContent {
	width: 210px;
	color: #333;
	margin: 5px;
}
#rightColumnContent h3 {
	padding-top: 5px;
	padding-bottom: 6px;
	font-size: 18px;
	padding-right: 4px;
	padding-left: 4px;
	color: #036;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
}
#rightColumn ul {
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#rightColumn ul li {
	list-style: none;
	display: inline;
}
#rightColumn ul li a {
	display: block;
	padding: 4px 4px 4px 6px;
	color: #036;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3CCF7;
}
#rightColumn ul li a:hover {
	text-decoration: none;
	background-color: #B0CBF7;
	color: #036;
}
#footer {
	color: #1B91E6;
	text-align: center;
	width: 880px;
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
}
#footer a, #footer a:hover, #footer a:visited, #footer a:active {
	color: #1C95EC;
}
.fltlft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.fltrt {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.center {
	display: block;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.sidebarlt {
	padding: 6px;
	border: 1px solid #BAD1F8;
	background-color: #FFF;
	color: #333;
}
.sidebardk {
	color: #333;
	border: 1px solid #87AFF1;
	padding: 6px;
	background-color: #A7C5F5;
}
.sidebardk a, .sidebardk a:hover, .sidebardk a:visited, sidebardk a:active {
	color: #000;
}
#credit {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 8px;
	font-size: 11px;
	color: #12418D;
	width: 880px;
	margin-right: auto;
	margin-left: auto;
}
#credit a, #credit a:hover, #credit a:visited, #credit a:active, #credit a:focus {
	color: #12418D;
	font-weight: normal;
}
.featureboxes {
	font-size: 11px;
	padding-top: 10px;
	line-height: 14px;
	padding-bottom: 20px;
	float: left;
}
.featureboxes img {
	border: 1px solid #77859A;
}
.left-box {
	width: 180px;
	margin-right: 20px;
	float: left;
}
.middle-box {
	float: left;
	width: 180px;
	margin-right: 20px;
}
.right-box {
	float: left;
	width: 180px;
	margin-right: 0px;
}
.featuretitle {
	font-size: 16px;
	font-weight: bold;
	color: #036;
	line-height: 20px;
	display: block;
	padding-bottom: 0px;
	padding-top: 10px;
}
.readmore {
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 18px;
}

.clearFloat {
	clear: both;
	display: block;
}
